.container {
  height: 800px;
}

.sidebar, .main, form, .eventButtons, .invite, .event, .login {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.invite, .event {
  justify-content: center;
  align-items: center
}

.eventButtons {
  overflow-y: scroll;
  overflow-x: hidden;
}

.tabs, .topbar, .container {
  display: -webkit-flex;
  display: flex;
}

.sidebar {
  -webkit-flex-grow: 1;
  flex-grow:         1;
  border-right: solid;
}

.tabs, .topbar {
  flex-shrink: 1;
  align-items: flex-end;
  border-bottom: solid;
}

#invitesTab, #newEvent {
  margin-left: 5px
}

.main {
  -webkit-flex-grow: 4;
  flex-grow:         4;
}

.activity {
  -webkit-flex-grow: 10;
  flex-grow:         10;
}
